html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14pt;
}

* {
	box-sizing: border-box;
}


#intro_section {
	min-height: 100vh;
	position: relative;
	width: 100%;
	background-color: grey;
	/*background-image: url("../images/IMG_9254.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}

#introduction{
	margin-left: 6rem;
	color: #f9f9f9;
	width: 450px;
	font-weight: bold;
	background-color: rgba(0,0,0, .5);
	padding: 0 0 0 2rem;
}

#introduction h1{
	font-size: 3rem;
}

#introduction p{
	font-size: 1.5rem;
	font-weight: 300;
}

.section_body{
	padding-top: 5%;
	text-align: center;
	background-color: #f9f9f9;
	padding-bottom: 10%;
}

.no-anchor-dec{
	text-decoration: none;
	color: inherit;
}

.top_banner{
	width: 600px;
	max-width: 80%;
	height: 75%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.description{
	color: #151515;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

/* navbar */

#navbar{
	z-index: 9999;
	height: 10%;
	/*min-height: 60px;*/
	background-color: rgba(0,0,0, 0);
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background-color .3s;
	color: white;
} 	

.nav-link{
	color: inherit;
	font-size: 1rem;
	margin-left: 1rem;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	opacity: 1;
	text-decoration: none;
	font-family: inherit;
	font-weight: bold;
	font-variant: small-caps;
}

.nav-link:hover{
	color: black;
}

.nav-link:focus{
	outline: none;
}

.nav-link-selected{
	box-sizing: border-box;
	color: #3e3e3e;
	border-bottom: 2px solid #3e3e3e;;
}

.fixed-nav {
	position: fixed;
}

.growText{
	transition: transform 0.2s cubic-bezier(0, 1.25, 1, 1);
	transform: scale(1.2);
}


/* About Section */


#about_content{
	width: 70%;
	max-width: 900px;
	min-width: 300px;
	margin: 0 auto;
	text-align: left;
}

#about_content > p{
	padding: 1rem;
	background-color: white;
	box-shadow: 3px 3px 2px #e9e9e9;
}

#skill_container{
	display: flex; 
	flex-wrap: wrap;
	margin-top: 1rem;
}

#about_content figure{
	margin: 0;
	padding: 1rem;
	display: inline-block;
	flex-basis: 49%;
	box-shadow: 3px 3px 2px #e9e9e9;
	background-color: white;
}

#about_content figure:first-of-type{
	margin-right: 2%;
}

.large-icon{
	height: 100px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.about_header{
	color: inherit;
	background-color: white;
	width: 50%;
	margin: 0 auto;
}

.about_header_text{
	max-width: 80%;
	margin: 0 auto;
	text-align: left;
}


.about_container{
	margin-top: 5%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	overflow:hidden;
    color: inherit;	
}


.color-inverted{
	filter: invert(100%);
}

.snippet{
	width: 20%;
	padding: 2.5%;
	margin-right: 20px;
	margin-top: auto;
	background-color: white;
	text-align: left;
}

.large-icon{
	height: 100px;
	width: auto;
	text-align: center;
}


.about_footer{
	width: 100%;

}

.about_footer_text{
	padding: 10px;
	width: 715px;
	max-width: 80%;
	margin: 0 auto;
}

/* Work */

.work_body{
	background-image: url("../images/stonehengeblur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 10%;
}

#workContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}

.work-card{
	flex: 1;
	transition: .3s;
	text-align: center;
	background-color: white;
	margin: .25rem .25rem;
	min-width: 250px;
	height: 250px;
	width: 250px;
	overflow: hidden;
	position: relative;
}

.work-card:hover{
	transform: scale(.95);
	cursor: pointer;
	transition: .3s;
	z-index: 3;
}

.work-card img{
	position: absolute;
	max-width: 90%;
	max-height: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.work-card figcaption{
	position: absolute;
	padding: .5rem;
	color: white;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .3s;
	border: 2px solid white;
}

.work-card figcaption:hover{
	opacity: 1;
	transition: opacity .3s;
}

#Princess_modal, #WiFinder_modal, #GCT_modal, #Blast_modal, #Music_modal{
	width: 90%;
	max-width: 900px;
}

.modal figure{
	margin: 0;
}

.modal img{
	width: 100%;
}

.modal img:hover{
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.modal h1{
	font-size: 3rem;
	margin: 0;
}

.resume-button_modal{
	background-color: transparent;
	padding: .5rem;
	margin: .5rem;
	border: 1px solid black;
	position: absolute;
	right: 0;
	top: 0;
}

.resume-button_modal:hover{
	background-color: #d9d9d9;
	cursor: pointer;
}

.modal_mobile_screen img{
	width: 49%;
	display: inline-block;
}

/*.work-card:before {
    content:'';
    float:left;
    padding-top:100%;
}*/

#work-card_Blast{
	background-color: black;
}

#projectContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}

#work-card_Music{
	background-image: linear-gradient(to right, #00b8df, #0051f6);
	width: 100%;
}

/* contact form */

.contact_body{
	padding: 5% 0;
	width: 70%;
	max-width: 900px;
	min-width: 300px;
	margin: 0 auto;
}

.contact_body h3{
	margin: 1em 0 0 0;
}

.contact_form{
	width: 100%;
	text-align: left;
	margin: 0;
}

.contact_body form > p{
	font-size: 1.25rem;
}

input[type='text']{
	font-size: 1.25rem;
	border: 1.5px solid #999;
}

.contact_message{
	width: 100%;
	font-size: 1.25rem;
	border: 1.5px solid #999;
}

.contact_buttons{
	margin-top: 10px;
}

.contact_buttons button{
	-webkit-appearance: none;
	padding: 10px;
	border-radius: 10px;
	margin-left: 10px;
	background-color: white;
	border: 1.5px solid black;
	font-size: 15px;
}

.social-icon{
	color: black;
	width: 50px;
	height: 50px;

}

.social-icon:hover{
	transform: scale(1.1);
	transition: transform 0.5s;
	cursor: pointer;
}

.bottomBar{
	background-color: #f2f2f2;
	position: relative;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: center;
	padding: 5% 0px;
}

.subtle, .subtle > a{
	text-decoration: none;
	color: #555;
	font-size: 8px;
}

.emphasized-text{
	display: inline-block;
	font-size: 2em;
	margin: 0px 5px;
	color: black;
}

.one-edge-shadow {
  box-shadow: 0 4px 6px -6px black;
}

.circle-img{
	border-radius: 30%;
	height: 300px;
	width: auto;
	max-height: 50%;
}

.link-redirect{
	padding: .25rem;
	text-decoration: none;
	color: inherit;
}

.link-redirect:hover{
	background-color: #e9e9e9;
}

.inline{
	display: inline-block;
}

.no-margin{
	margin: 0;
}

.margin-left-10{
	margin-left: 10px;
}

.align-center{
	text-align: center;
}

.hidden{
	visibility: hidden;
}

img{
	opacity: 1;
	transition: opacity 0.3s;
}


/* smaller than a tablet */
@media (max-width: 768px){

	#intro_section{
		background-attachment: scroll;
	}

	#introduction{
/*		width: 100%;
		height: 100vh;
		margin: 0 auto;
		background-color: rgba(0,0,0, .3);
		padding: 1rem;*/
		margin: 0 6rem 0 0;
	}

	#introduction h1{
		font-size: 2rem;
	}

	#introduction p{
		font-size: 1rem;
		font-weight: 300;
	}

	#about_content figure{
		flex-basis: 100%;
	}

	#about_content figure:first-of-type{
		border-right: 0;
		margin: 0 0 1rem 0;
	}

	.growText{
		transition: transform 0.2s ease-in-out;
		transform: scale(1.05);
	}

	.nav-link{
		margin-left: 5px;
	}

	.developer_snippet{
		width: 300px;
		max-width: 80%;
		display: block;
	}

	.design_snippet{
		width: 300px;
		max-width: 80%;
		display: block;
	}

	.about_container{
		margin-top: 0;
	}

	.row{
		display: block;
	}

	.contact_body h1{
		font-size: 1.5rem;
	}
}
