<html>
<title> Portfolio </title>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>


<body>


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Eric Tseng</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="scrollToAbout">About</a></li>
        <li><a href="#" id="scrollToProjects">Projects</a></li>
        <li><a href="#" id="scrollToContact">Contact</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="about" id="about">
  <div class="container">
  <h1>About</h1>
</div>
</div>

<div class="projects" id="projects">
  <h1>Projects</h1>
</div>

<div class="contact" id="contact">
  <h1>Contact</h1>
</div>

<div class="fourthPage">

</div>



<script src="/js/index.js"></script>
</body>
</html>
