html{ height: 100%; }

body{ height: 100%; 
	font-family: "Raleway", sans-serif;
	min-width: 325px;
}

.fa { display:inline; }

.navbar-default{
	background-color: white	;
	border-bottom-color: black;
	margin-bottom: 0px;
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 0px;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);  
	-moz-box-shadow:    0px 0px 10px 3px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.navbar-toggle {
	margin-top: 1.5em;
}

@media (min-width: 768px){
	#bs-example-navbar-collapse-1.collapsing{
		transition:none;
		-webkit-transition:none;
		overflow:visible;
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: blue;
    background-color: transparent;
}

.navbar-nav {
	float: left;
	margin: 7.5px -15px;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Josefin Slab';
	font-size: 1.5em;
	color: #777;
	margin-top: .50em;
}

.navbar-default .navbar-brand {
	color: #777;
	font-size: 3.5em;
	vertical-align: top;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent; 
}
.navbar-default .navbar-toggle {
	border-color: transparent; 
}

.front{
	background-color: white;
	max-height: 98%;
	height: 98%;
	max-width: 100%;
	padding-top: 70px;
	overflow: hidden;
}


.homeImage{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 98%;
	background-image: -webkit-linear-gradient(0deg, black, hsla(0, 0%, 48%, .26) 35%, transparent), url(../images/icicle.png);
	background-image: linear-gradient(0deg, black, hsla(0, 0%, 48%, .26) 35%, transparent), url(../images/icicle.png);
	background-position: 0px 0px, 50% 50%;
	background-size: auto, cover;
}


#about{
	background-color: white;
	height: 100%;
	display: flex;
	min-height: 900px;
}

#aboutInfo{
	width: 50%;
}

@media (max-width: 760px) {
	.mobile-only {
		display:block !important;
	}

	.desktop-only {
		display:none !important;
	}
}

#circlePic{
	margin: 5em;
}

.important{
	font-size: 25px;
}


#projects{
	background-color: #ECF0F1;
	height: 100%;
	display: flex;
/*	-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);  
	-moz-box-shadow:    0px 0px 10px 3px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 10px 3px rgba(0, 0, 0, 0.5);*/
}

#contact{
	background-color: #89C4F4;
	height: 50%;
	display: flex;
/*	-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);  
	-moz-box-shadow:    0px 0px 10px 3px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 10px 3px rgba(0, 0, 0, 0.5);*/	
}

.row{
}

.contact p{
	padding-left: 1em;
	margin: 0em;
}

.container .contact{
	padding-top: 2em;
}


.col-md-5{
	font-size: 18px;
}

.bottomBar{
	background-color: #282c37;
	height: 15%;
	position: static;
	overflow: hidden;
	max-height: 150px;
}

.containercr{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.copyright p{
	color: white;
	text-align: center;
}


.navbar-nav > li > a, .navbar-brand {
	padding-top:.50em !important; 
	padding-bottom:10px !important;
	height: 40px;
	color: #6C7A89;

}
.navbar {min-height:5em !important;}

